<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Лабораторна робота №7 </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title> Виконала студентка групи КН-32 Мазур Д. В. </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Лабораторні роботи </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <h1>Завдання</h1>
      <p>
        Провести табулювання, обрахувати за допомогою циклу та рекурсії наступну
        функцію:
      </p>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Xn</ion-label>
        <ion-input #InputXn value="0.1"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xk</ion-label>
        <ion-input #InputXk value="3.14"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">h</ion-label>
        <ion-input #InputH value="0.1"></ion-input>
      </ion-item>
      <ion-button
        (click)="calculate(InputXn.value, InputXk.value, InputH.value)"
        >Розрахунок</ion-button
      >
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-title>
      <h2>Результати</h2>
    </ion-card-title>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of xyInput | keyvalue">
          <ion-label>
            <h5>{{item.key}}</h5>
            <h5>{{item.value}}</h5>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
