<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконала студентка групи КН-32 Мазур Д. В.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Завдання №2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>На заданому проміжку чисел [a,b] підрахуйте добуток чисел, кратних 11 і таких, що при діленні на 5 дають в
        остачі 2.
      </p>
      <ion-item>
        <ion-label position="floating">Перше число</ion-label>
        <ion-input type="number" id="a" value="1" [(ngModel)]="Inputa"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Друге число</ion-label>
        <ion-input type="number" id="b" value="2" [(ngModel)]="Inputb"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ras(Inputa, Inputb)">Розрахунок</ion-button>
    </ion-card-content>
    <ion-item>
      <p>Результат обчислення {{d}}</p>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
</ion-footer>
