<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Лабораторна робота №2 </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title> Виконала студентка групи КН-32 Мазур Д. В. </ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title> Лабораторні роботи </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Лабораторна робота №2
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>Створити додаток для табулювання і виведення на екран значення функції, також побудувати графік функції
      </ion-text>
      <ion-item>
        <ion-label position="floating">Xn</ion-label>
        <ion-input type="number" id="xn" value="-1.25" #Inputxn></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Xk</ion-label>
        <ion-input type="number" id="xk" value="9.39" #Inputxk></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">a</ion-label>
        <ion-input type="number" id="a" value="0.4" #Inputa></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">h</ion-label>
        <ion-input type="number" id="h" value="0.4" #Inputh></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="graphras(Inputxn.value, Inputxk.value, Inputa.value, Inputh.value)">Розрахунок
      </ion-button>
      <ion-item>
        <canvas #lineCanvas></canvas>
      </ion-item>
      <ion-item *ngFor="let item of data">{{item}}</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>

